.memesGallery {
  user-select: none;

  &Container {
    position: relative;
    margin-bottom: 5px;
  }

  &Navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0);
  }

  &PreviewList {
    margin: 0 auto;
  }
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
